/* ===========
   Buttons
 =============*/
 .btn-primary, .btn-success, .btn-info, .btn-warning,
 .btn-danger, .btn-dark {
   color: $white;
 }
 
 .btn-primary{
   background-color: $primary;
   border: 1px solid $primary;
 }
 .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active,
 .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover,
 .open > .dropdown-toggle.btn-primary,.btn-primary:not([disabled]):not(.disabled).active, .btn-primary:not([disabled]):not(.disabled):active,
 .show>.btn-primary.dropdown-toggle   {
   background-color: darken($primary, 5%);
   border-color: darken($primary, 5%);
 }
 
 .btn-primary.focus, .btn-primary:focus,.btn-outline-primary.focus, .btn-outline-primary:focus,
 .btn-primary:not([disabled]):not(.disabled).active, .btn-primary:not([disabled]):not(.disabled):active, .show>.btn-primary.dropdown-toggle,
 .btn-primary:not([disabled]):not(.disabled).active:focus, .btn-primary:not([disabled]):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus{
   box-shadow: 0 0 0 2px rgba($primary,.5);
 }
 
 
 .btn-light {
   border-color: $light;
 }
 .btn-light:hover, .btn-light:focus, .btn-light:active, .btn-light.active,
 .btn-light.focus, .btn-light:active, .btn-light:focus, .btn-light:hover,
 .open > .dropdown-toggle.btn-light  {
   border-color: darken($white, 25%);
 }
 
 .btn-light.focus, .btn-light:focus,.btn-outline-light.focus, .btn-outline-light:focus {
   box-shadow: 0 0 0 2px darken($white,15%);
 }
 
 .btn-success {
   background-color: $success;
   border: 1px solid $success;
 }
 .btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .btn-success.focus, .btn-success:active, .btn-success:focus, .btn-success:hover, .open > .dropdown-toggle.btn-success,
 .btn-success:not([disabled]):not(.disabled).active, .btn-success:not([disabled]):not(.disabled):active, .show>.btn-success.dropdown-toggle{
   background-color: darken($success, 5%);
   border-color: darken($success, 5%);
 }
 
 .btn-success.focus, .btn-success:focus,.btn-outline-success.focus, .btn-outline-success:focus,
 .btn-success:not([disabled]):not(.disabled).active, .btn-success:not([disabled]):not(.disabled):active, .show>.btn-success.dropdown-toggle,
 .btn-success:not([disabled]):not(.disabled).active:focus, .btn-success:not([disabled]):not(.disabled):active:focus, .show>.btn-success.dropdown-toggle:focus{
   box-shadow: 0 0 0 2px rgba($success,.5);
 }
 
 .btn-info {
   background-color: $info;
   border: 1px solid $info;
 }
 .btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .btn-info.focus, .btn-info:active, .btn-info:focus, .btn-info:hover,
 .open > .dropdown-toggle.btn-info,.btn-info:not([disabled]):not(.disabled).active, .btn-info:not([disabled]):not(.disabled):active,
 .show>.btn-info.dropdown-toggle {
   background-color: darken($info, 5%);
   border-color: darken($info, 5%);
 }
 
 .btn-info.focus, .btn-info:focus,.btn-outline-info.focus, .btn-outline-info:focus,
 .btn-info:not([disabled]):not(.disabled).active, .btn-info:not([disabled]):not(.disabled):active, .show>.btn-info.dropdown-toggle,
 .btn-info:not([disabled]):not(.disabled).active:focus, .btn-info:not([disabled]):not(.disabled):active:focus, .show>.btn-info.dropdown-toggle:focus{
   box-shadow: 0 0 0 2px rgba($info,.5);
 }
 
 .btn-warning {
   background-color: $warning;
   border: 1px solid $warning;
   color: $white;
 }
 .btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .btn-warning.focus, .btn-warning:active,
 .btn-warning:focus, .btn-warning:hover, .open > .dropdown-toggle.btn-warning ,.btn-warning:not([disabled]):not(.disabled).active,
 .btn-warning:not([disabled]):not(.disabled):active, .show>.btn-warning.dropdown-toggle{
   background-color: darken($warning, 5%);
   border-color: darken($warning, 5%);
   color: $white;
 }
 
 .btn-warning.focus, .btn-warning:focus,.btn-outline-warning.focus, .btn-outline-warning:focus,
 .btn-warning:not([disabled]):not(.disabled).active, .btn-warning:not([disabled]):not(.disabled):active, .show>.btn-warning.dropdown-toggle,
 .btn-warning:not([disabled]):not(.disabled).active:focus, .btn-warning:not([disabled]):not(.disabled):active:focus, .show>.btn-warning.dropdown-toggle:focus{
   box-shadow: 0 0 0 2px rgba($warning,.5);
 }
 
 .btn-danger {
   background-color: $danger;
   border: 1px solid $danger;
 }
 .btn-danger:active, .btn-danger:focus, .btn-danger:hover, .btn-danger.active, .btn-danger.focus, .btn-danger:active, .btn-danger:focus,
 .btn-danger:hover, .open > .dropdown-toggle.btn-danger,.btn-danger:not([disabled]):not(.disabled).active, .btn-danger:not([disabled]):not(.disabled):active,
 .show>.btn-danger.dropdown-toggle {
   background-color: darken($danger, 5%);
   border-color: darken($danger, 5%);
 }
 
 .btn-danger.focus, .btn-danger:focus,.btn-outline-danger.focus, .btn-outline-danger:focus,
 .btn-danger:not([disabled]):not(.disabled).active, .btn-danger:not([disabled]):not(.disabled):active, .show>.btn-danger.dropdown-toggle,
 .btn-danger:not([disabled]):not(.disabled).active:focus, .btn-danger:not([disabled]):not(.disabled):active:focus, .show>.btn-danger.dropdown-toggle:focus{
   box-shadow: 0 0 0 2px rgba($danger,.5);
 }
 
 .btn-dark {
   background-color: $dark;
   border: 1px solid $dark;
 }
 
 .btn-dark:hover, .btn-dark:focus, .btn-dark:active, .btn-dark.active, .btn-dark.focus, .btn-dark:active, .btn-dark:focus, .btn-dark:hover, .open > .dropdown-toggle.btn-dark {
   background-color: darken($dark, 5%);
   border-color: darken($dark, 5%);
 }
 
 .btn-dark.focus, .btn-dark:focus,.btn-outline-dark.focus, .btn-outline-dark:focus,
 .btn-dark:not([disabled]):not(.disabled).active, .btn-dark:not([disabled]):not(.disabled):active, .show>.btn-dark.dropdown-toggle{
   box-shadow: 0 0 0 2px rgba($dark,.5);
 }
 
 .btn-link {
   color: $dark;
 
   &:hover {
     color: $primary;
   }
 }
 
 /* button Outline */
 .btn-outline-primary {
   color: $primary;
   border-color: $primary;
 
   &:hover {
     background-color: $primary;
     border-color: $primary;
   }
 }
 
 .btn-outline-success {
   color: $success;
   border-color: $success;
 
   &:hover {
     background-color: $success;
     border-color: $success;
   }
 }
 .btn-outline-info {
   color: $info;
   border-color: $info;
 
   &:hover {
     background-color: $info;
     border-color: $info;
   }
 }
 .btn-outline-warning {
   color: $warning;
   border-color: $warning;
 
   &:hover {
     background-color: $warning;
     border-color: $warning;
     color: $white;
   }
 }
 .btn-outline-danger {
   color: $danger;
   border-color: $danger;
 
   &:hover {
     background-color: $danger;
     border-color: $danger;
   }
 }
 .btn-outline-dark {
   color: $dark;
   border-color: $dark;
 
   &:hover {
     background-color: $dark;
     border-color: $dark;
   }
 }
 
 .btn-custom {
   border-bottom: 3px solid transparent;
 }
 
 .btn-custom.btn-default {
   background-color: $light3;
   border-bottom: 2px solid $lightdark-alt !important;
 }
 
 .btn-custom.btn-primary {
   border-bottom: 2px solid darken($primary, 10%) !important;
 }
 
 .btn-custom.btn-success {
   border-bottom: 2px solid darken($success, 10%) !important;
 }
 
 .btn-custom.btn-info {
   border-bottom: 2px solid darken($info, 20%) !important;
 }
 
 .btn-custom.btn-warning {
   border-bottom: 2px solid darken($warning, 10%) !important;
 }
 
 .btn-custom.btn-danger {
   border-bottom: 2px solid darken($danger, 20%) !important;
 }
 
 .btn-custom.btn-dark {
   border-bottom: 2px solid darken($inverse, 30%) !important;
 }
 
 .btn-rounded {
   border-radius: 2em;
   padding: 6px 18px;
 }
 
 .fileupload {
   overflow: hidden;
   position: relative;
   input.upload {
     cursor: pointer;
     filter: alpha(opacity=0);
     font-size: 20px;
     margin: 0;
     opacity: 0;
     padding: 0;
     position: absolute;
     right: 0;
     top: 0;
   }
 }
 