
// Color variables
$white: #ffffff;
$danger: #ef5350;
$success: #52bb56;
$warning: #f1b53d;
$primary: #039cfd;
$lightdark5: #555555;
$info: #67d1f8;
$purple: #7266ba;
$dark: #343c49;
$lightgray: #dddddd;
$pink: #f76397;
$inverse: #4c5667;
$light: #eeeeee;
$lightdark3: #333333;
$lightdark4: #444444;
$light5: #f5f5f5;
$light3: #f3f3f3;
$light9: #f9f9f9;
$light-alt: #fafafa;
$lightdark7: #797979;
$lightdark-alt: #cccccc;
$muted: #80898e;


// Width variables
$width: 100%;


// Height variables
$height: 100%;

// Fonts
$font-primary: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
